<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Js</title>

    <style>
      .box {
        background-color: red;
        width: 100px;
        height: 100px;
      }
      .two {
        background-color: blue;
      }
      .three {
        background-color: green;
      }
      [v-cloak] {
        display: none;
      }
    </style>
  </head>
  <body>
    <div id="container" v-cloak>
      {{greeting}}
      <input v-model="greeting" @keyup.enter="greet(`hi this is abhishek`)" />
      <button @click="toggleBox">toggle box</button>
      <test-box v-if="isVisible"></test-box>

      <br />

      <!-- <login-form /> -->
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script>
      let app = Vue.createApp({
        data: function () {
          return {
            greeting: "sample App",
            isVisible: false,
          };
        },
        updated() {
          console.log("updated called");
        },
        methods: {
          toggleBox() {
            this.isVisible = !this.isVisible;
          },
          greet(message) {
            console.log("this is the greet method ", this.greeting, message);
          },
        },
      });

      app.component("test-box", {
        template: `
            <div class="box">
                </div>
          
          `,
        // lifecycle methods
        created() {
          console.log("created ");
        },
        mounted() {
          console.log("mounted ");
        },
        unmounted() {
          console.log("unmounted ");
        },
      });

      app.component("login-form", {
        template: `
            <form @submit.prevent="handleSubmit">
                <h1>{{title}}</h1> 
                <p v-for="(str,i) in names" :key="i">{{str}}</p>

                <custom-input
                v-for="(input,i) in inputs"
                :key="i" v-model="input.value"  
                :label="input.label"
                :type="input.type"
                />
                
                <button>Login</button>
            </form>

          `,
        components: ["custom-input"],
        data: function () {
          return {
            names: ["abhishek", "aryan", "summit"],
            inputs: [
              {
                label: "Email",
                value: "",
                type: "email",
              },
              {
                label: "Password",
                value: "",
                type: "password",
              },
            ],
            title: "Login Form",
          };
        },
        methods: {
          handleSubmit() {
            console.log("submitted", this.inputs);
          },
        },
      });

      app.component("custom-input", {
        template: `
          
            <label>
                {{label}}
                <input :type="type" v-model="inputValue" />
            </label>
          
          `,
        props: ["label", "modelValue", "type"],
        computed: {
          inputValue: {
            get() {
              return this.modelValue;
            },
            set(value) {
              //   console.log("this is the app ", value);

              // export props back,this is the new syntax
              this.$emit("update:modelValue", value);
            },
          },
        },
        // data() {
        //   return {
        //     inputValue: "",
        //   };
        // },
      });

      app.mount("#container");
    </script>
  </body>
</html>
